body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
    margin: 0;          /* remove default margin */
}

/* Make main content grow to take available space */
main {
    flex: 1; /* pushes footer to bottom */
}

#logo-wrapper{
    background-color: white;
    border-radius: 10px;
    width: 45px;
    height: 45px;
}
header {
    background-color: rgb(14,20,98);
    height: 65px;
    width: 100%;
}
header ul {
    display: flex;
    list-style: none;
    padding-top: 10px;
    padding-left: 50px;
}
header ul li {
    display: inline;
    margin-right: 15px;
}
header a{
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-size: x-large;
}
header #logo{
    width: 30px;
    height: 30px;
    padding-left: 8px;
    padding-top: 7px;
}
#footer {
    background-color: rgb(14,20,98);
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}
.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0 0 10px 0;
}
.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
#top-wrapper{
    background-color: rgb(234,234,246);
    height: 80px;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
#search-input{
    margin-left: 50px;
    background-color: rgb(14,20,98);
    width: 260px;
    border-radius: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
#search,#search-btn{
    border-radius: 20px;
    height: 30px;
}
#search{
    padding-left: 15px;
}
#search-btn{
    pad-right: 50px;
}
#gallery-btn{
    border-radius: 20px;
    background-color: rgb(14,20,98);
    color: white;
    width: 100px;
    height: 50px;
    margin-right: 50px;
}


/* Close button */
.close-slider {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;

    display: flex;            /* make button a flex container */
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */

}


.slider {
    position: relative;
    left: -55px;
    width: 100%;
    max-width: 850px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* stack image and buttons vertically */
    background-color: rgb(14,20,98); /* optional for contrast */
    display: none;
    /*padding: 20px;*/
    padding: 50px 30px 10px 30px;
    /*padding-bottom: 10px;*/
    border: 2px solid  rgb(234,234,246);
}
.slider img {
    display: none;
    width:700px;
    height: 550px;
    border: 2px solid  rgb(234,234,246);
    /*object-fit: contain;*/
}
img.displaySlide {
    display: block;
}
/*.slider-buttons {*/
/*    margin-top: 10px;  !* space between image and buttons *!*/
/*}*/
.slider button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px 5px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s;
}
.slider button:hover {
    background-color: #555;
}



#map{
    border-bottom: 3px solid rgb(14,20,98);
}

#kladilnici-container {
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    border-radius: 20px;
}
#kladilnici-table {
    width: 100%;
    border-collapse: separate; /* must use 'separate' for border-radius */
    border-spacing: 2px;         /* remove gaps between cells */
    font-family: Arial, sans-serif;
    margin-top: 20px;
    border-radius: 0px;       /* double radius */
    overflow: hidden;          /* ensure inner cells don’t overflow corners */
}
#kladilnici-table th, #kladilnici-table td{
    border: 1px solid rgb(14,20,98);
    padding: 8px 12px;
    text-align: center;
}
#kladilnici-table th:first-child, #kladilnici-table td:first-child{
    background-color: rgb(14,20,98);
    color: white;
}
#pagination{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(234,234,246);
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;

}
#prev, #next{
    background-color: rgb(14,20,98);
    border-radius: 50px;
    color: white;
    width: 100px;
    height: 50px;
}
#prev:hover, #next:hover{
    background-color: lightblue;
}
