body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
    margin: 0;          /* remove default margin */
}

/* Make main content grow to take available space */
main {
    flex: 1; /* pushes footer to bottom */
}

/* Header and Footer styling */
header, footer {
    background-color: cornflowerblue;
    height: 50px;
    width: 100%;
}
header ul {
    list-style: none;
    padding: 15px;
    margin-left: 80px;
}
header ul li {
    display: inline;
    margin-right: 15px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: large;
}

footer p {
    margin: 10px 0;
}
