body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
    margin: 0;          /* remove default margin */
    font-family: Arial, sans-serif;
}
main{
    flex: 1;
}

 /*Make main content grow to take available space*/
/*main {*/
/*    flex: 1; !* pushes footer to bottom *!*/
/*}*/

#logo-wrapper{
    background-color: white;
    border-radius: 10px;
    width: 45px;
    height: 45px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#translate {
    background-color: rgb(234,234,246);
    height: 40px;
    padding: 5px;
    margin-right: 50px;
    font-size: 16px;
    border-radius: 6px;
}
header {
    background-color: rgb(14,20,98);
    /*height: 65px;*/
    height: auto;
    width: 100%;
}
header ul {
    display: flex;
    list-style: none;
    padding-left: 50px;
}
header ul li {
    display: inline;
    margin-right: 15px;
}

header a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin-top: 10px;
    display: inline-block;
}
header #logo{
    width: 30px;
    height: 30px;
    padding-left: 8px;
    padding-top: 7px;
}
header i{
    color: white;
    padding-left: 10px;
}



#footer {
    background-color: rgb(14,20,98);
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}
#footer-top{
    padding: 20px;
}
.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}

.footer-links img {
    width: 30px;
    height: 30px;
}
