.wrapper {
    min-height: 100vh;
    background: linear-gradient(135deg, #1a2a6c, #4b6cb7, #ff9966);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
}


.contact-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    overflow: visible;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
    padding: 1rem;
}


.contact-left {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    width: 500px;
}

.contact-left-title h2 {
    font-size: 2.5rem;
    color: rgb(14,20,98);}

.contact-left-title hr {
    width: 250px;
    height: 4px;
    background: #203a43;
    border: none;
    margin: 1rem 0 2rem;
    background: linear-gradient(270deg, #ff994f, #6cafef, rgb(14,20,98));
}

/* FORM */
.contact-left form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-inputs {
    width: 100%;
    padding: 0.9rem 1.2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.contact-inputs:focus {
    outline: none;
    background: #d6d9e0;
}

textarea.contact-inputs {
    resize: vertical;
    min-height: 130px;
}


.contact-left button {
    margin-top: 1rem;
    align-self: center;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    border: none;
    background: rgb(14,20,98);
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    transition: background 0.3s ease;

    /*background: linear-gradient(270deg, #ff994f, #6cafef, rgb(14,20,98));*/
}

.contact-left button:hover {
    background-color: lightblue;
}


/*.contact-info {*/
/*    margin-top: 3rem;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/
/*    gap:20px;*/
/*}*/
.contact-info {
    margin-top: 3rem;
    display: flex;
    gap: 20px;
    /*justify-content: flex-start; !* align cards to the left *!*/
    flex-wrap: nowrap;        /* wrap cards to next line if needed */
    justify-content: center;
}
.info-block {
    background: #d6d9e0;
    padding: 2px 15px 20px 15px;
    border-radius: 12px;
    text-align: center;
    width: 150px;
    height: 150px;
    /*flex-shrink: 0;*/
}

/*.info-block h3 {*/
/*    font-size: 1rem;*/
/*    margin-bottom: 0.3rem;*/
/*    color: #203a43;*/
/*}*/
.info-block h3 {
    font-size: 1rem;
    color: #203a43;
    margin-bottom: 0.5rem;
    height: 55px;
}
.info-block h3 i{
    display: block;
    margin-top: 5px;
}

.info-block p {
    font-size: 0.9rem;
    color: #555;
}

/*.info-block:first-child p{*/
/*    margin-top: 32px;*/
/*}*/

.contact-right {
    position: relative;
    height: 800px;
    width: 520px;
}

.contact-right img {
    width: 103%;
    /*height: 100%;*/
    height: 422px;
    object-fit: cover;
}



