/*.video-container{*/
/*    position: fixed;*/
/*    top: 77px;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*}*/
/*.video-container iframe{*/
/*    width: 100%;*/
/*    height: 76%;*/
/*}*/
/*#footer{*/
/*    flex-shrink: 0;*/
/*    margin-top: auto;*/
/*}*/
.video-container {
    width: 100%;
    /*max-width: 1200px; !* optional, limits width *!*/
    margin: 0 auto;    /* center container */
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#footer{
    margin-top: -1px;
}
